@import '../../assets/styles/colors.scss';

.movie {
  padding: 0px 15px;
  margin-top: 110px;
  &__title {
    display: flex;
    align-items: center;
    color: $font-color;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
  }
  &__picture {
    width: 50%;
    & > img {
      max-width: 480px;
    }
  }
  &__details {
    line-height: 26px;
    list-style-type: none;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      &-title {
        padding-right: 10px;
      }
      &-qesqr {
        color: $movie__content-color;
        opacity: 0.8;
      }
    }
  }
  &__desqr {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: $font-color;
    border-radius: 6px;
    background-color: #222028;
    padding: 15px 30px 15px 20px;
  }
  &__rate {
    position: relative;
    top: 0;
    padding: 0px 10px;
    margin-right: 20px;
  }
}
