$colors: #fe000a #00e5fd #018bf9 #1e1f2c;

$body-bg: #1e1f2c;
$header-bg: #292c3b;
$card-bg: #222028;
$font-color: #f9fafe;
$border-color: #8a8e9b;
$card__rate--bg: rgba(26, 25, 31, 0.8);
$card__rate--green: #29b474;
$card__rate--red: #fe000a;
$card__rate--yellow: #ffc700;
$card__add: #f9ab00;
$card__info: #292c3b;
$card__info-border: rgba(255, 255, 255, 0.15);
$card__content-hover: #23334a;
// $card__add: #008dfe;
